<div class="col-md-12">
  <h2 style="margin: auto"> User applications</h2>
  <button class="btn btn-info" (click)="addApp()"> Create application</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Type</th>
      <th>Content types</th>
      <th>Owner</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let app of apps">
      <td>{{app.id}}</td>
      <td>{{app.name}}</td>
      <td>{{app.type}}</td>
      <td>{{app.contentTypes}}</td>
      <td>{{app.user.email}}</td>
      <td>
        <button class="btn btn-danger glyphicon glyphicon-ban-circle" (click)="deleteUser(user)"></button>
        <button class="btn btn-warning glyphicon glyphicon-edit" (click)="editUser(user.id)" style="margin-left: 20px;"></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
